﻿
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Iletisim</h2>
    <p>Adres : asdasdasdasd asd asd asd as dasdasd asda sd</p>
    <p>Telefon : 0537 000 00 00</p>
</div>