﻿
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Hemen Paylaş</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" placeholder="Buraya yazın"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Paylaş</button>
            <div class="pull-right">
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i>Resim Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>

