﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bozkurt Yazılım</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/ekko-lightbox.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <a href="/Home/Index"><img src="~/Content/img/logobozkurt.png" class="logo" alt=""></a>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Mail Adresiniz</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Mail Adresiniz">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Şifre</label>
                    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Şifre">
                </div>
                <button type="submit" class="btn btn-default">Giriş Yap</button><br>
            </form>
        </div>
    </header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Home/Index">Anasayfa</a></li>
                    <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
                    <li><a href="/Home/Iletisim">İletişim</a></li>
                    <li><a href="profile.html">Profil</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    @RenderBody()
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default friends">
                        <div class="panel-heading">
                            <h3 class="panel-title">Düzenlenecek</h3>
                        </div>
                        <div class="panel-body">
                            
                        </div>
                    </div>
                    <div class="panel panel-default groups">
                        <div class="panel-heading">
                            <h3 class="panel-title">Düzenlenecek</h3>
                        </div>
                        <div class="panel-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Bozkurt Yazılım Copyright &copy 2018</p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/js/ekko-lightbox.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
</body>
</html>
